* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  display: block;
  height: 100vh;
  scroll-snap-align: center;
}

section:nth-child(2) {
  background-color: green;
}
section:nth-child(3) {
  background-color: red;
}

section:nth-child(4) {
  background-color: blue;
}

.buttons {
  position: fixed;
  top: 20px;
  left: 20px;
}

.activeButton {
  background-color: red;
}

.fullpge {
  scroll-snap-type: y mandatory;
}
