footer {
  background-color: $secondary;
  color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    display: inline-block;
  }
  span {
    display: inline-block;
    margin-top: em(15);
  }
}
.contact-me {
  font-size: em(30);
}
.socialLinks ul {
  display: flex;
  margin-top: em(20);
  li {
    margin: 0 em(10);
    display: flex;
    background-color: $primary;
    height: em(60);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: em(60);
    flex-wrap: wrap;
  }
}

#githubLink {
  font-size: em(40);
  color: $secondary;
  &:hover {
    transform: scale(1.1);
  }
}

#linkLnLink {
  font-size: em(40);
  color: $linkInColor;
  &:hover {
    transform: scale(1.1);
  }
}

#mailToLink {
  font-size: em(40);
  color: $mailColor;
  &:hover {
    transform: scale(1.1);
  }
}

#pdfLink {
  font-size: em(40);
  color: $mailColor;
  &:hover {
    transform: scale(1.1);
  }
}
