footer {
  background-color: #050506;
  color: #e9eaec;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-me {
  font-size: 30px;
}
.socialLinks ul {
  display: flex;
  margin-top: 5px;
}

.socialLinks ul li {
  margin: 0 10px;
}

footer a {
  display: inline-block;
  margin-top: 15px;
}

footer span {
  display: inline-block;
  margin-top: 15px;
}

#githubLink {
  font-size: 30px;
  color: #e9eaec;
}
#githubLink:hover {
  transform: scale(1.1);
}
#linkLnLink {
  font-size: 30px;
  color: #0282cb;
}

#linkLnLink:hover {
  transform: scale(1.1);
}

#mailToLink {
  font-size: 30px;
  color: #f44336;
}

#mailToLink:hover {
  transform: scale(1.1);
}

.resumeLink {
  font-size: 20px;
  border-radius: 8px;
  text-decoration: none;
  background: #e9eaec;
  padding: 4px;
  color: black;
  text-align: center;
  width: 150px;
}

.resumeLink i {
  color: #f44336;
  margin-right: 4px;
}
.resumeLink:hover {
  text-decoration: underline;
}
