footer {
  background-color: $secondary;
  color: $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  a {
    display: inline-block;
    margin-top: em(15);
  }
  span {
    display: inline-block;
    margin-top: em(15);
  }
}
.contact-me {
  font-size: em(30);
}
.socialLinks ul {
  display: flex;
  margin-top: em(5);
  li {
    margin: 0 em(10);
  }
}

#githubLink {
  font-size: em(30);
  color: $primary;
  &:hover {
    transform: scale(1.1);
  }
}

#linkLnLink {
  font-size: em(30);
  color: $linkInColor;
  &:hover {
    transform: scale(1.1);
  }
}

#mailToLink {
  font-size: em(30);
  color: $mailColor;
  &:hover {
    transform: scale(1.1);
  }
}

#pdfLink {
  font-size: em(30);
  color: $mailColor;
  &:hover {
    transform: scale(1.1);
  }
}
