/* Mobile devices */
@media only screen and (max-width: 600px) {
  .buttons {
    background-color: $secondary;
  }
  .profilText {
    font-size: em(21);
  }

  .projectCard {
    margin: em(6) em(16) em(6) em(16);
    width: em(296);
    height: em(230);
    h3 {
      font-size: em(20);
    }
  }

  #projectTitle {
    font-size: em(30);
  }

  .descriptionTitle,
  .descriptionText {
    display: none;
  }

  .projectCard:hover .projectInfoDescription {
    top: 10%;
  }
  .projectCard:hover .projectInfoLinks {
    bottom: 10%;
  }
  .technologiesAnimation ul {
    font-size: em(20);
  }

  .profilText {
    font-size: em(20);
  }

  .socialLinks ul {
    li {
      margin: 0 em(5.2);
    }
  }
}
