/* Mobile devices */
@media only screen and (max-width: 600px) {
  .buttons {
    background-color: $secondary;
  }
  .profilText {
    font-size: 21px;
  }

  .technologiesAnimation ul {
    font-size: 20px;
  }

  .projectCard {
    margin: 6px 1rem 6px 1rem;
    width: 296px;
    height: 230px;
    h3 {
      font-size: 20px;
    }
  }

  #projectTitle {
    font-size: 30px;
  }

  .descriptionTitle,
  .descriptionText {
    display: none;
  }

  .projectCard:hover .projectInfoDescription {
    top: 10%;
  }
  .projectCard:hover .projectInfoLinks {
    bottom: 10%;
  }
}
