section:nth-child(3) {
  background-color: $secondary;
  background: url(../images/codeBackgroundSecond.jpg) no-repeat center
    center/cover;
  color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
  }
}

#technologiesTitle {
  z-index: 10;
  font-size: em(40);
}

.technologiesAnimation {
  width: 90%;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s 0.3s;
  z-index: 10;
  ul {
    font-size: em(30);
  }
}

.animatedLi:nth-child(even) {
  width: 30%;
  text-align: center;
  position: relative;
  left: 0%;
  opacity: 0;
  animation: toRight 10s linear 0s infinite;
  cursor: context-menu;
}
.animatedLi:nth-child(odd) {
  width: 30%;
  text-align: center;
  position: relative;
  left: 70%;
  opacity: 0;
  animation: toLeft 10s linear 0s infinite;
  cursor: context-menu;
}
@keyframes toLeft {
  0% {
    left: 70%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}

@keyframes toRight {
  0% {
    left: 0%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 70%;
    opacity: 0;
  }
}
